.icon-escape { background-image: url(../img/exit-door.png);}
.icon-prone { background-image: url(../img/falling.png);}
.icon-grapplemove { background-image: url(../img/grab.png);}
.icon-crawl { background-image: url(../img/half-body-crawling.png);}
.icon-improvise { background-image: url(../img/juggler.png);}
.icon-jump { background-image: url(../img/jump-across.png);}
.icon-climb { background-image: url(../img/mountain-climbing.png);}
.icon-move { background-image: url(../img/run.png);}
.icon-swim { background-image: url(../img/splashy-stream.png);}
.icon-terrain { background-image: url(../img/stone-pile.png);}
.icon-stand { background-image: url(../img/strong.png);}
.icon-dodge { background-image: url(../img/acrobatic.png);}
.icon-class { background-image: url(../img/embrassed-energy.png);}
.icon-disengage { background-image: url(../img/ghost-ally.png);}
.icon-grapple { background-image: url(../img/grab-3.png);}
.icon-shove { background-image: url(../img/hand.png);}
.icon-hide { background-image: url(../img/hooded-figure.png);}
.icon-improvise2 { background-image: url(../img/juggler-2.png);}
.icon-spell { background-image: url(../img/magic-swirl.png);}
.icon-search { background-image: url(../img/magnifying-glass.png);}
.icon-grappleescape { background-image: url(../img/manacles.png);}
.icon-shield { background-image: url(../img/round-shield.png);}
.icon-item { background-image: url(../img/snatch.png);}
.icon-sprint { background-image: url(../img/sprint.png);}
.icon-ready { background-image: url(../img/stopwatch.png);}
.icon-brace { background-image: url(../img/surrounded-shield.png);}
.icon-attack { background-image: url(../img/sword-clash.png);}
.icon-help { background-image: url(../img/three-friends.png);}
.icon-teamsync { background-image: url(../img/team-upgrade.png);}
.icon-teamcombo { background-image: url(../img/two-shadows.png);}
.icon-pass { background-image: url(../img/back-forth.png);}
.icon-offhand { background-image: url(../img/daggers.png);}
.icon-class2 { background-image: url(../img/embrassed-energy-2.png);}
.icon-spell2 { background-image: url(../img/magic-swirl-2.png);}
.icon-switch { background-image: url(../img/switch-weapon.png);}
.icon-talk { background-image: url(../img/talk.png);}
.icon-class3 { background-image: url(../img/embrassed-energy-3.png);}
.icon-spell3 { background-image: url(../img/magic-swirl-3.png);}
.icon-readied { background-image: url(../img/stopwatch-2.png);}
.icon-opportunity { background-image: url(../img/wide-arrow-dunk.png);}
.icon-prone { background-image: url(../img/despair.png);}
.icon-fear { background-image: url(../img/fangs.png);}
.icon-grappled { background-image: url(../img/grab-2.png);}
.icon-deaf { background-image: url(../img/hearing-disabled.png);}
.icon-charmed { background-image: url(../img/heart-inside.png);}
.icon-restrained { background-image: url(../img/imprisoned.png);}
.icon-paralyzed { background-image: url(../img/internal-injury.png);}
.icon-invisible { background-image: url(../img/invisible.png);}
.icon-poisoned { background-image: url(../img/poison-bottle.png);}
.icon-blind { background-image: url(../img/sight-disabled.png);}
.icon-stunned { background-image: url(../img/surprised.png);}
.icon-crippled { background-image: url(../img/arm-sling.png);}
.icon-injured { background-image: url(../img/backstab.png);}
.icon-unconcious { background-image: url(../img/coma.png);}
.icon-exhaustion { background-image: url(../img/despair-2.png);}
.icon-disoriented { background-image: url(../img/knockout.png);}
.icon-death { background-image: url(../img/skull-crack.png);}
